[2011-02-15 10:57] kaiwren opened #2 "Invoking bin/goldberg does not print a helpful message"

[2011-02-15 11:43] #2 closed, assigned to nobody

[2011-02-22 10:43] srushti opened #3 "Allow control of frequency of checking for updates (per project)"
... possibly through the use of a goldberg_settings.rb or some such that gets checked in.

[2011-02-22 10:43] srushti opened #4 "Support bundler so that gems get automatically installed"
Check if there exists a Gemfile (and possibly a versioned Gemfile.lock) and if there are changes bundle install before running the build.

[2011-02-22 10:44] srushti opened #5 "Support selecting a specific ruby (rvm) (per project)"

[2011-02-22 10:44] srushti opened #6 "Support ratcheting builds"

[2011-02-22 10:45] srushti opened #7 "Trivial setup/installation workflow"

[2011-02-22 10:46] srushti opened #8 "Public views"
Have a page which can be exposed (without authentication) for public consumption, possibly without check in comments or committers names, just project name & a green or red status.

[2011-02-22 10:46] srushti opened #9 "Display list of changes of the latest build"

[2011-02-22 10:47] srushti opened #10 "Get latest on a forced build"
Currently, a forced build doesn't do an update before running the build.

[2011-02-23 06:25] preethiramdev commented on #10
Fixed in commit  5b5d32a1c6aeb3d47b63

[2011-02-23 06:26] #10 closed, assigned to nobody

[2011-02-25 12:47] kaiwren opened #11 "CCMenu support"

[2011-02-28 12:35] kaiwren opened #15 "Footer broken when the project page grows too long"
See any of the project pages at http://golberg.c42.in

[2011-03-21 18:54] achamian commented on #11
Following routes are supported currently:

'XmlStatusReport.aspx', 'cctray.xml', 'cc.xml'

[2011-03-21 18:54] #11 closed, assigned to nobody

[2011-03-23 18:24] kaiwren commented on #15
This seems to have been fixed?

[2011-03-23 18:25] kaiwren opened #16 "Metadata/layout for the list of builds"
See http://goldberg.c42.in/projects/wrest
- Move the list to the left column so I don't have to scroll to the bottom of a long build log
- Colour successes and failures differently - not necessarily the entire line but some part of it
- Link the SHA of the build to the repository browser if one exists - especially useful for Github projects

[2011-03-23 18:29] kaiwren opened #17 "Create a CHANGELOG"
Create a CHANGELOG file under root so that supported features/fixed issues are clearly tracked in one place

[2011-03-23 18:32] kaiwren opened #18 "Support timing out a build"
In the even of a build hanging, Goldberg should kill it after a configurable period of time and mark the build as failed, clearly stating that it failed because it hung.

[2011-03-23 18:32] achamian commented on #11
CCMenu : http://goldberg.c42.in/XmlStatusReport.aspx

We still need to differentiate between couple of statuses like 'sleeping'
and 'building' I guess. But otherwise it is working.

Regards,
Niranjan Paranjape.

On Wed, Mar 23, 2011 at 11:57 PM, kaiwren <
reply@reply.github.com>wrote:

[2011-03-23 18:35] kaiwren opened #19 "Prefix the build log with information about the version of Ruby used"
Each build log should be prefixed with the following information:
- The equivalent of `ruby -v`
- The value of the RUBY_ENGINE constant, if it's available

[2011-03-23 18:37] kaiwren opened #20 "JRuby 1.6.0 CI build for rspec-core"
Can whoever that has access add the rspec-core project, running on JRuby 1.6.0 to http://goldberg.c42.in ?
The github url is https://github.com/rspec/rspec-core

[2011-03-23 21:01] kaiwren opened #21 "Builds for RubySpecs"
See https://github.com/rubyspec/rubyspec/issues/2

[2011-03-24 06:42] kaiwren opened #22 "IRC Notifier"
Build successes/failures should be postable to IRC. For examples, look at #jruby's logs.

[2011-03-25 11:51] kaiwren opened #23 "Cache the build feed"
Repeated queries from CCMenu and other build notifiers shouldn't slow the system to a crawl.

[2011-03-26 14:14] kaiwren opened #24 "Add dog-fooding builds of Goldberg on popular Ruby runtimes"
Runtimes that need to be added to http://goldberg.c42.in :
- Rubinius 1.2
- Ruby 1.8.6
- Ruby 1.8.7
- Ruby 1.9.2
- Jruby 1.6.0

[2011-03-28 01:22] kaiwren opened #25 "Embeddable build status badge"
Provide a build status badge which can be embedded in READMEs etc. See the [README](https://github.com/myronmarston/vcr) of VCR for an example.

[2011-03-28 12:42] #15 closed, assigned to nobody

[2011-03-29 08:42] kaiwren opened #28 "Expose Builds and Projects via an API"

[2011-04-05 08:52] aakashd commented on #4
Using <code>bundle check || bundle install</code> to sync gems with Gemfile

[2011-04-05 08:52] #4 closed, assigned to nobody

[2011-04-08 16:39] srushti opened #31 "Allow invoking of a different target"
Currently, you can only run the default rake target, but you should be able to run a different target, e.g. something else which runs both "db:migrate" & "spec".

[2011-04-09 05:29] aakashd commented on #31
If I change the custom command in DB to "db:migrate && rake" on goldberg, it works perfectly fine. We just need to change the project addition command interface to accept commands with space in it. Using commander might help us with it.

[2011-04-09 23:42] professor opened #32 "zsh:1: command not found: bundle"
I'm looking at my build_log file and here is what I see....

__rvm_reset:14: no matches found: /Users/tsedano/.rvm/bin/default_*
__rvm_reset:14: no matches found: /Users/tsedano/.rvm/bin/passenger_*
__rvm_reset:14: no matches found: /Users/tsedano/.rvm/bin/editor_*
zsh:1: command not found: bundle
zsh:1: command not found: bundle

a) my ~/.rvm/bin directory contains my languages (I don't see passe

[2011-04-10 14:45] professor commented on #32
I tried copying the goldberg/.rvmrc into ~/.goldberg which helped a little. Here's now my error:

__rvm_reset:14: no matches found: /Users/tsedano/.rvm/bin/default_*
__rvm_reset:14: no matches found: /Users/tsedano/.rvm/bin/passenger_*
__rvm_reset:14: no matches found: /Users/tsedano/.rvm/bin/editor_*
[31mCould not find activesupport-2.3.4 in any of the sources[0m
[31mCould not find activesuppo

[2011-04-10 17:16] aakashd commented on #32
As you can see in the Goldberg source code, it already contains an rvmrc. The first error you had posted tells that you don't have bundler gem installed in the gemset (assuming you are using one) being used for your project.

1) Does your project have an rvmrc included?
2) Does your project use bundler?

[2011-04-10 18:58] professor commented on #32
On Sun, Apr 10, 2011 at 10:16 AM, aakashd <reply+i-748628-4228c61358b79b2a9607d145fc9cab17f0bc6128@reply.github.com> wrote:
As you can see in the Goldberg source code, it already contains an rvmrc. The first error you had posted tells that you don't have bundler gem installed in the gemset (assuming you are using one) being used for your project.

1) Does your project have an rvmrc included?

It d

[2011-04-10 18:59] professor commented on #32
I added a .rvmrc file into my repository. I expected and received the following warning. I was able to resolve this by doing a "cd ~/.goldberg/projects/PROJECTNAME/code" -- I'm wondering if this is something everyone will need to do and if so if it should be part of the README.

#

  RVM has encountered a not yet trusted .rvmrc file in the
  current working directory which contains the following c

[2011-04-10 19:02] aakashd commented on #32
Yes, as of now you need to cd into the directory and accept the rvmrc. We are working on doing this programmatically and should have it ready in next few days.

Did this solve your issue though?

[2011-04-10 19:04] professor opened #34 "goldberg should do a bundle install for each project"
I would expect that goldberg would do a "bundle install" after pulling the latest from git.

__rvm_reset:14: no matches found: /Users/tsedano/.rvm/bin/default_*
__rvm_reset:14: no matches found: /Users/tsedano/.rvm/bin/passenger_*
__rvm_reset:14: no matches found: /Users/tsedano/.rvm/bin/editor_*
[31mCould not find activesupport-2.3.4 in any of the sources[0m
[31mCould not find activesupport-2.

[2011-04-10 19:06] professor commented on #32
Yes this did. I'll close out this issue. I'll do a pull request for the documentation update.

[2011-04-10 19:06] #32 closed, assigned to nobody

[2011-04-10 19:09] aakashd commented on #34
Goldberg does execute <code>bundle check || bundle install</code> on projects where it finds Gemfile in source code. This might be some other issue as bundler is being takes care of by default.

To help us resolve it, could you please remove the project using <code>./bin/goldberg remove PROJECT_NAME</code>; and post build_log of the first build after adding the project?

[2011-04-10 19:12] aakashd commented on #9
List of changed files is being shown on the build page.

[2011-04-10 19:12] #9 closed, assigned to nobody

[2011-04-11 01:56] professor commented on #34
I decided to add the same git url as a second project. Here was my experience.

Build 1 - RVM has encountered a not yet trusted .rvmrc file, so I did a "rvm ruby-1.8.7@rails2"
Build 2 - it worked

I realized the reason it worked was this wasn't a new rvm gemset. If goldberg is running on your development machine, this is fine. I'm wanting to run goldberg on a stand alone server so that my students

[2011-04-12 20:26] aakashd commented on #34
We have done some major change in the way we are handling Gemfile.lock and also some environment changes. Please check if this solves the problem you are facing. If not we can probably discuss the issue over skype in greater details.

[2011-04-12 20:51] aakashd commented on #3
using goldberg_config.rb at the root of codebase to configure project based frequency.

[2011-04-12 20:51] #3 closed, assigned to nobody

[2011-04-16 05:57] professor opened #37 "timestamps in local time zone"
Although I like how the build timestamps are shown in UTC, I'd like to be able to configure goldberg to show the time in my local time zone. I was tempted to add in this code, but I wasn't sure how the group felt about this item.

[2011-04-16 05:58] professor commented on #34
I did a fresh project install and I'm no longer able to reproduce this issue, so I'm closing it.

[2011-04-16 05:58] #34 closed, assigned to nobody

[2011-04-16 06:01] professor opened #38 "send an email to a distribution list when a build fails/succeeds"
This is a feature request

I'd like to configure goldberg.yml to use gmail to send out the "build failed" or "build succeeded" email. I would expect an email every time the build failed and one email when it started to succeed again.

[2011-04-16 06:03] professor opened #39 "generating rcov on specs"
This is a feature request

I'd like to configure goldberg to use rcov on my specs.

Running http://rubygems.org/gems/metrical or metrics_fu is a bonus.

[2011-04-16 06:23] achamian commented on #38
@aakashd is already looking into it.

[2011-04-16 06:30] professor opened #40 "development database is not configured"
Goldberg is working nicely on my development machine. I'm now installing it on my CI machine. (I stole my database.yml file from a cruise control project.) It only had the test database environment defined. It appears that Goldberg also wants the development database configured. I'm guessing we need a RAILS_ENV="test" on one of the rake commands to fix this.

[2011-04-16 06:38] srushti commented on #40
Depending on how you run it you'll have to do RAILS_ENV="development" (which is implicit) or RAILS_ENV=production. "test" should only be used to run goldberg's own tests.

[2011-04-16 06:43] srushti commented on #39
I'm going to be working on getting a list of issues we want for our 1.0 release this weekend. As far as the rcov report is concerned, I think we would allow you to create a task which does that and dumps the reports to a specific folder which goldberg will pick up display through the web interface.

[2011-04-16 06:43] #39 closed, assigned to nobody

[2011-04-16 07:00] srushti commented on #37
That's definitely something we want to get done. We can have the requested timezone specified in config/goldberg.yml. If you'd like to do it go right ahead, if not we'll get to it soon.

[2011-04-16 11:57] kaiwren commented on #39
@srushti Do you want to add a story for publishing build artefacts, then? I did a search through the tickets and nothing came up.

[2011-04-16 12:06] aakashd commented on #37
Rather than mentioning the timezone in config, shouldn't we get the timezone from request and show the date for that timezone?

[2011-04-16 12:14] aakashd commented on #40
@srushti, I did not get what you mean by <i>goldberg's own tests<i/>.

Although, I won't be comfortable hardcoding <code>RAILS_ENV=test</code>, because if someone wants to override it or change it, they won't be able to do so because of this hardcoding. We can probably mention in the documentation that, people can mention <code>RAILS_ENV=test</code> in the custom command if this is intended behavi

[2011-04-16 14:44] srushti commented on #40
@aakashd Maybe I misunderstood the original problem, but it looked like he only had goldberg's test database configured & defined. I was mentioning that you don't want to run goldberg on the test database, since that is to be used to run goldberg's own specs, and that while running the app you want to use one of the other two configurations (after having defined it in the database.yml, of course).

[2011-04-16 14:46] professor commented on #40
I expect goldberg to act as a continuous integration platform. As such, I expect it to run my tests and only my tests against my code. If it is running my tests (ie my rspecs), then I expect goldberg to execute them against my test database. I don't know why I should have created a development database for goldberg to function.

I believe the original intent of goldberg was to run on a local devel

[2011-04-16 14:51] professor commented on #37
Personally, I would just modify the view to show the timestamp in the user's local timezone as defined by the machine that is running goldberg. Thus if my machine is in UTC-8, then the timestamps would all be in local time.

I suspect that this is behavior that 95% of your users would want. I wanted to check in with you before modifying the code myself to see if you agree.

There is (of course) an

[2011-04-16 14:54] srushti commented on #40
The situation you describe makes sense, but I must be missing something, because I'm not sure what exactly you want. Possibly, @aakashd understood it better. I've replied directly to the email address from your commits with my skype id. Let me know what a good time is to have that call.

[2011-04-16 15:10] srushti commented on #37
Well, personally a lot of our (at C42) projects are usually distributed (at least, with the clients being in another part of the world), so it's not quite an edgecase for us. Therefore, being able to pick up the browser's timezone would be something that would appeal to us, so @aakashd is right. I just wasn't sure if we wanted to expend the effort to do that just now, or if we could get to that la

[2011-04-16 15:28] professor commented on #40
Thanks for the great skype call. I'll ask around here to see if I"m the only person who sets up their CI environment with just test databases or if it is standard practice to setup a test and development database. (If its the later, I'll conform to the norm.)

[2011-04-17 15:07] srushti commented on #21
Closing this as it has nothing to do with the Goldberg project itself.

[2011-04-17 15:07] #21 closed, assigned to nobody

[2011-04-17 15:07] srushti commented on #20
Closing this as it has nothing to do with the Goldberg project itself.

[2011-04-17 15:07] #20 closed, assigned to nobody

[2011-04-17 15:12] srushti opened #41 "Give access to build artefacts"
Provide a mechanism (say, a pre-determined folder) that a build must do to expose build artefacts to the end user.

[2011-04-17 15:17] srushti commented on #39
#41 is the issue that covers this.

[2011-04-18 06:18] professor opened #43 "missing image /images/not_available.png"
If you add a new project and goldberg starts a build, we get a missing image warning on the main page.

ActionController::RoutingError (No route matches "/images/not_available.png"):

The code that generates the request is here:

  def project_status_image(status)
    image_tag (status == 'building' ? "#{status}.gif" : "#{status}.png"), :alt => status, :title => status
  end

I have a screenshot i

[2011-04-18 06:32] srushti commented on #43
I haven't figured out a good icon to use for when no build has happened yet. Do you have any suggestions?
Also, the not_available thing should only until the poller picks up the project for its first build. Are you saying it stays this way for longer?

[2011-04-18 06:40] professor commented on #43
Right now, the poller isn't starting up for me automatically when I start the server. So I need to do the following.....
bin/goldberg start
bin/goldberg start_poller

I'm presently in a situation where I've done the first command, but haven't done the second one yet.

[2011-04-18 08:41] srushti commented on #43
I just tried the same on my machine & it seems to work fine. The poller starts if I just run "bin/goldberg start".

[2011-04-18 16:12] professor commented on #43
On both my macbook pro (10.6) and my mac mini (10.5), the poller doesn't start. (I'm assuming it doesn't start since I get the missing image bug.) How should I go about debugging the problem.

[2011-04-19 06:32] srushti commented on #37
I'm moving this to 2.0 since we already have the relative timestamps. We can revisit this at a later date.

[2011-04-19 06:34] srushti commented on #24
This is not a ticket on the goldberg project itself.

[2011-04-19 06:34] #24 closed, assigned to nobody

[2011-04-21 07:16] kaiwren opened #46 "Trying to acces a build that doesn't exist causes a 500 and not a 404"
http://goldberg.ambekallu.com/projects/wrest/builds/999

[2011-04-21 07:38] srushti commented on #46
Thanks. Fixed.

[2011-04-21 07:38] #46 closed, assigned to nobody

[2011-04-21 07:40] srushti commented on #31
We can now specify a rake_task in goldberg_config.rb.

[2011-04-21 07:40] #31 closed, assigned to nobody

[2011-04-24 14:20] kaiwren opened #47 "Building against a branch other than master"
I should be able to specify (in the project config?) that the build should use a certain branch

[2011-04-24 14:28] kaiwren opened #48 "Ruby version information should be more detailed"
The builds page currently looks like `wrest (1.9.2)` or `rspec-mocks (jruby)`. The ruby version information should be expanded to include
- the runtime (MRI/YARV/JRUBY/RBX/MacRuby)
- the version (1.8.6/1.8.7/1.9.2)
- the patch number (1.9.2-p180)

[2011-04-28 14:09] kaiwren opened #49 "Project config should allow the setting of env vars for a build"
I should be able to configure the setting of environment variables for the build process as part of the project config. This would allow me to, for example, set `SPEC="--profile"` on my build so that rspec prints build stats.

[2011-04-28 16:17] kaiwren commented on #5
Completed in bbc9196690f6ca4f11017b6f4275e688c990b78c

[2011-04-28 16:17] #5 closed, assigned to srushti

[2011-04-30 05:19] gja commented on #49
Shotgun

[2011-05-01 10:50] gja commented on #49
This feature is done, with the caveat if the custom command is of the form, a && b, then only a will get the variables

[2011-05-01 10:52] gja commented on #48
I think that it should be optional to display more information.

I'm wondering if there is some way we can pull this out from the config, instead of having goldberg try to figure this out.

Goldberg.configure! do |config|
   config.ruby_display_version = `ruby --version`
end

[2011-05-01 11:13] gja commented on #38
shotgun. I'm trying to make a plugin structure for goldberg

[2011-05-01 17:36] gja commented on #38
I added a after_build feature to the config.

It's just a matter of
after_build Proc.new { |build, project|
  if (build.status == 'Failed' || (build.status == 'Success' && project.builds[1] == 'failed'))
    Pony.mail(:to => oeao, :from => ...)
}

[2011-05-02 05:46] jasim opened #55 "Homepage fails when a project is added"
Goldberg assumes there is an existing build for every project, and so would be failing for a new project till at least one build is started.

[2011-05-02 05:52] srushti commented on #41
This is working everywhere save for our hosted project.

[2011-05-02 05:56] srushti commented on #40
I'm closing this since we now have the ability to do what you want in a more generic way. You can add environment_variables through goldberg_config, which in your case would be "RAILS_ENV=test".
It looks like cc.rb does do this by default, but I'm still not sure we want to be prescribing this.

[2011-05-02 05:56] #40 closed, assigned to nobody

[2011-05-02 05:58] srushti opened #56 "Link the SHA of the build to the repository browser if one exists - especially useful for Github projects"
Splitting off the third point of #16 raised by @kaiwren.

[2011-05-02 06:00] srushti commented on #16
I'm closing this since we've implemented the first two points, and I've created #56 for the third. I assume that's okay.

[2011-05-02 06:00] #16 closed, assigned to nobody

[2011-05-02 06:03] srushti commented on #47
You can only do this while adding the project. I don't think it makes sense to do this on the fly, certainly not in the checked in config file, because different branches could have different configurations and it would lead to confusion.

[2011-05-02 06:03] #47 closed, assigned to nobody

[2011-05-02 06:04] srushti commented on #19
I'm closing this since #48 seems to require roughly the same information.

[2011-05-02 06:04] #19 closed, assigned to srushti

[2011-05-02 09:41] #43 closed, assigned to nobody

[2011-05-02 10:03] #55 closed, assigned to srushti

[2011-05-02 10:06] #41 closed, assigned to srushti

[2011-05-02 10:06] #49 closed, assigned to nobody

[2011-05-02 11:37] srushti commented on #25
Finished in 7b2c1d79f196cff855882a2f3d87f8e54d195e08. It just has a tick or 'x' image now, but those can be replaced.

[2011-05-02 11:37] #25 closed, assigned to nobody

[2011-05-02 16:31] professor commented on #40
I've asked around locally here in Silicon Valley, and quite a few people
think that a build machine should NOT have a development database.

Todd

On Sun, May 1, 2011 at 10:56 PM, srushti <
reply@reply.github.com>wrote:

[2011-05-02 17:46] aakashd commented on #38
@gja - The API that we are planning is as shown in attached gist https://gist.github.com/952006

Let me know what you think about it, and if you have a bandwidth to implement it.

[2011-05-02 23:27] professor commented on #38
I'm biased by the way cruisecontrol.rb does this. In the system configuration, one can specify default configurations (ie from address). In the project configuration, one specifies the "to address". If a "to address" is present, then the default behavior would be email on failure and email on first successful after a failure.  I would document how to override the default with more interesting beha

[2011-05-05 10:03] srushti commented on #18
fixed with 11dfd6253741beb6c1666e77b7c9402c9867f41f.

[2011-05-05 10:03] #18 closed, assigned to srushti

[2011-05-09 16:02] srushti commented on #40
Yeah, fair enough. Just wondering if a ci server should enforce it, or expect the users to know what they're doing and do it themselves.

[2011-05-09 21:09] professor commented on #40
I guess the question is what user base do you want to attract. Do you only want to cater to build engineers, or do you want to also cater to software developers? The first group will be able to figure it out. The second group may not have much time to deal with assumptions made by goldberg. If goldberg is going to make assumptions, that's fine, but they should be more clearly articulated in the RE

[2011-05-13 12:04] ghost opened #59 "Error running build if RVM is missing"
I don't have RVM installed. When I start the poller, I get the following:

[code]

I've only included the relevant part.

If I'm right the first part of this line returns nil:  https://github.com/c42/goldberg/blob/master/app/models/build.rb#L58

I think we need to check if it returns nil and build an appropriate command string. What do you think?

[2011-05-13 13:10] srushti commented on #59
Yeah, that was where the problem was. It's fixed in 47dec2075029e7097c5bebed5eec7cd325b2f728. I wouldn't be surprised if you find more issues when you don't have rvm installed, we haven't really tested it too much without rvm.
Of the top of my head, you'll probably have an issue with bundler since goldberg will have to do `sudo bundle install` or install to a different path.

[2011-05-13 13:11] #59 closed, assigned to srushti

[2011-05-13 13:37] ghost commented on #59
This actually doesn't solve the problem:

[code]

Which is the same as previous:

[code]

I think we'll need to explicitly build gemset_use string such as:

[code]

I can't really make that change right now, but I can send a pull request later if you'd like?

Also I actually do have RVM installed, but as root and it's installed system wide. This is the first time I've done it too so I don't know w

[2011-05-13 16:02] ghost commented on #59
Fixed by commit <a href="https://github.com/c42/goldberg/commit/a636c6ba4def5d4ec1bdf8dbbe9e6abd24fb7bfe">a636c6</a>

[2011-05-13 16:43] srushti opened #60 "A versioned Gemfile.lock shouldn't get deleted"
Goldberg seems to be deleting the Gemfile.lock even if it is versioned. https://gist.github.com/fa4eb6cc16d0ced1c0c2

[2011-05-13 17:06] aakashd commented on #60
I think Rohit's pull request will resolve the issue. Have you checked the pull request?

[2011-05-13 17:15] srushti commented on #60
Fixed in 27a112093e3cdf9e63ed015bba994da88dcda90f (from @rohit) & 338782cfa0c089a488a8b840a672204f603e1899.

[2011-05-13 17:15] #60 closed, assigned to nobody

[2011-05-16 13:00] ghost commented on #38
What's the progress on this? I'm interested in writing a Campfire notifier so that Goldberg can notify a campfire room.

[2011-05-16 17:04] professor commented on #38
It's not clear to me who is working on this feature right now.

[2011-05-16 17:24] aakashd commented on #38
I have worked on this issue, and its already done.

The API is

<pre>
<code>
Project.configure do |config|
  config.rake_task = 'ci'
  config.on_build_failure do |build,notification|
    notification.from('goldber@c42.in').to('aakashd@gmail.com').with_subject("Build #{build.id} for #{build.project.name} #{build.status}").send
  end
end
</code>
</pre>

[2011-05-16 17:24] #38 closed, assigned to nobody

[2011-05-16 17:25] aakashd commented on #38
@rohit I have added hooks for on_build_completion, on_failure, on_success & on_red_to_green; which you can use to hook the Campfire notifications.

[2011-05-29 09:59] srushti opened #65 "Parallel Steps"
I should be able to define a project to run builds of multiple configurations, but still have one status which is an && of the statuses of all the builds. I don't care about the order of the builds.

[2011-05-29 10:03] srushti opened #66 "Serial Steps"
I should also be able to define steps in the build where one step (or multiple if #65 has already been implemented) has to be run before one (or multiple) other steps. I should be able to specify different configurations for each step.

[2011-05-29 20:53] codykrieger commented on #22
+1, this would be super useful.

[2011-05-30 07:15] srushti opened #67 "Parallel Builds"
If two projects get updated at around the same time Goldberg should be able to run the projects in parallel (or even the parallel steps defined in #65). By default the maximum number of parallel builds should be based on the number of cores, but should be overrideable.

[2011-05-30 08:31] rnjn opened #68 "bundle install fails"
I checked the source out, did a bundle install. This failed.

gogo@rnjn  ~goldberg(master) >bundle install
Fetching source index for http://rubygems.org/
Using rake (0.9.0)
Using abstract (1.0.0)
Using activesupport (3.0.6)
Using builder (2.1.2)
Using i18n (0.5.0)
Using activemodel (3.0.6)
Using erubis (2.6.6)
Using rack (1.2.3)
Using rack-mount (0.6.14)
Using rack-test (0.5.7)
Using tzinfo (0.3.2

[2011-05-30 08:42] rnjn commented on #68
failed with jruby-1.6.0 only. worked alright with ruby-1.9.2-p180. maybe has something to do with my env.

[2011-05-30 08:50] srushti commented on #68
No it's not just your env. I've noticed it fail on jruby, and when I googled for it I saw people reporting the same arraycopy problem with jruby for other projects.

[2011-05-30 16:48] ganeshkumar commented on #68
@rnjn, Install jruby-1.6.2. This solves the problem

[2011-05-30 18:11] rnjn commented on #68
it does, thanks @ganeshkumar. closing this.

and i thought things just worked :p

[2011-05-30 18:11] #68 closed, assigned to nobody

[2011-06-02 16:34] localshred opened #70 "undefined method `empty?' for nil:NilClass"
I ran into an error trying to force a build on a new project I created. I was able to add the project using `bin/goldberg add`. After adding the project I launched the app with `bin/goldberg start 3001`. When I click force build on the project, nothing appears to happen (not sure if that is normal behavior), then when I click the project to see its builds, I get the standard Rails "We're sorry but

[2011-06-02 16:45] localshred commented on #70
After altering that view (`- unless @build.artefacts.nil? || @build.artefacts.empty?`) I can get in and see the project page, but clicking `force build` ends up doing nothing. I'm not seeing any errors in the rails log.

[2011-06-02 16:55] srushti commented on #70
Currently, there are two modes of running goldberg.
1. In development mode, the web server starts the builder in a separate thread.
2. In production mode, it just runs the web server. Here, you'll need to run the builder in a separate window by calling `bin/goldberg start_poller` (using the production environment of course). Our understanding was that someone running it in production will probably

[2011-06-02 17:15] localshred commented on #70
Excellent, thank you for the quick response! I'll run the poller and see how things go.

[2011-06-03 01:14] apolzon opened #71 "bin/goldberg start broken"
Really enjoying this terrific build server yall have been kind enough to release.

Following the setup instructions in the README, I was able to get the server up and working by using `rails s` to boot Goldberg.  If I boot it using `bin/goldberg start`, pages either never load, or errors are thrown (undefined method clear_active_connections! and an error related to page_cache).

I've tried editing

[2011-06-03 03:08] srushti commented on #71
Thanks, we appreciate the compliment, and I agree it's a terrific build server.
I'll take a look at the `start` issue and get back to you. To be honest, I've been doing most of my testing using `rails s` since it helps to look at the server output, and it's possible a bug snuck in. I'll let you know if I can reproduce it.

[2011-06-03 04:47] jasim opened #73 "Adding invalid Git repo makes goldberg web silently fail"
`bin/goldberg add xyz xyz`

will create an entry in Projects even though the clone was not successful. The web UI also fails to load and silently fails after this.

[2011-06-03 05:00] srushti commented on #70
Fixed the `empty?` problem in cc2234.

[2011-06-03 05:00] #70 closed, assigned to srushti

[2011-06-03 16:46] localshred opened #74 "Using project-specific goldberg_config.rb causes build to silently fail (no output)"
I have tried various incantations of the goldberg_config.rb file, but in every case, when I specify any commands to override (such as `ruby=` or `environment_variables=` or even `command=`), the build will fail without producing any output. However, if I leave the file in place and remove any assignments from the configure block, I get normal build output.

Here are a few sample configs I tried th

[2011-06-03 16:47] localshred opened #75 "Rake is not run with bundle exec"
I am encountering a simple issue where rake is not run with bundle exec with ruins the purpose of using bundler in the first place. I will attempt to find where the command is run and supply a patch.

[code]

[2011-06-03 16:54] localshred commented on #75
I attempted to add bundle exec to the build_command in Build#run, but this produced no output as I reported in issue #74.

[2011-06-05 03:40] achamian commented on #71
I am still looking into the issue

[2011-06-05 03:51] srushti commented on #71
Would it make sense to switch the daemonising of `start` off? It'll basically start like a normal `rails s`. At least until we fix this issue.

[2011-06-06 16:38] achamian commented on #71
starting rails server in development environment and daemon mode fails.

This is due to
<code>
Thread.start{Init.new.start_poller} if Rails.env == 'development'
</code>

I am still working on figuring out, why starting a new thread should make the daemon fail. In the mean while I have removed bin/goldberg start/stop falling back to 'rails server'

[2011-06-09 09:34] srushti commented on #75
Generally, rake will load up bundler before running anything else. The only thing you get out of running `bundle exec rake` is to make sure the correct version of rake itself is picked up (say, you've installed 0.9.0 which is broken on rails, but you want to run 0.8.7 which you've mentioned in your Gemfile). The problem is this command fails if rake isn't in your Gemfile (or in your Gemfile.lock a

[2011-06-09 09:59] srushti commented on #73
Fixed with 4c51613d3bf4217b7f5d1caea121666b149dc270 (with a wrong number in the commit message).

[2011-06-09 09:59] #73 closed, assigned to nobody

[2011-06-10 00:51] nicholasf opened #76 "bin/goldberg add not adding project"
Hi,

When trying to add a github project to Goldberg:

[code]

So, the project isn't added successfully - the branch arg isn't recognised - but the response message is that it's successful.

Adding with the -b arg results in the same.

[code]

[2011-06-10 04:11] srushti commented on #76
The wrong message being displayed has been fixed with 312de9abc06d32a8089e48bab2826d69d843b797.
As far as the argument not being recognised, could you tell me the version of git you're using? Basically, I want the output of the `git --version` command. It looks like whatever you are using doesn't support specifying the branch. With that information I'll probably suggest you to upgrade your git, bu

[2011-06-10 04:18] nicholasf commented on #76
[deploy@li269-181 ~]$ git --version
git version 1.5.5.6

[2011-06-10 04:43] srushti commented on #76
Thanks for the response. I'd say you ought to upgrade git. My version is `1.7.5.2` (through homebrew), and the current version on ubuntu is `1.7.1`. I'm not sure when the `--branch` option was added to git, but we certainly won't be trying to be compatible with `1.5`.
I'm going to close this issue. Please reopen it if you the problem persists in the later version, or if it is impossible for you to

[2011-06-10 04:43] #76 closed, assigned to srushti

[2011-06-10 04:47] nicholasf commented on #76
No worries.

It might be worth updating your docs to specify the oldest version of git you do support (if the information is not already there).

[2011-06-10 04:50] srushti commented on #76
Yeah, I was thinking the same thing. The information isn't already there, and we're hunting through the documentation of older versions of git-clone to see when the `--branch` might have been added.

[2011-06-10 05:40] srushti commented on #76
The documentation has been updated. The minimum version of git you can use 1.6.5.

[2011-06-13 11:13] srushti opened #77 "Subversion Support"
We need to be able to add projects through subversion. The default should remain git. You configure svn by passing a command line arg (say, --svn) or if the url is svn://...

[2011-06-15 20:48] lucasefe opened #78 "git submodule support"
Hi, is there any way to tell goldberg to do a `git submodule init and git submodule update` before running the build process?

Cheers
Lucas

[2011-06-15 23:49] lucasefe opened #79 "Support for RVM custom location"
I have installed rvm into /usr/local/rvm, so the build process is not working.
Reviewing the RVM class I saw a hardcoded value for the RVM path. I think this should be customizable.

Thanks!

Lucas Florio

[2011-06-15 23:53] lucasefe opened #80 "Build log should display select Ruby interpreter."
It would be useful to see the selected ruby interpreter when building a project. It's not really that evident what's going on, so the log could include more information regarding environment.

Something like:

"Defaulting to system ruby"

or

"Using RVM's ruby 1.9.2-p180"

Thanks

Lucas Florio

[2011-06-16 00:08] lucasefe commented on #79
BTW, if I symlink my rvm folder to $HOME/.rvm, the build seems to work.

[2011-06-16 04:25] achamian commented on #78
Currently Goldberg doesn't support git submodules out of the box, as not many projects have submodules. But you can easily achieve it by writing a custom rake command.

[2011-06-16 14:22] srushti commented on #80
We already mention it in a couple of places, but I suppose we could make it a lot clearer. The first line in the log will be the message from RVM, e.g. "Using /home/goldberg/.rvm/gems/ruby-1.9.2-p180 with gemset goldberg-goldberg". Also, the title of the project page itself mentions the RUBY_VERSION (but, unfortunately not the patch level or any other information). We'll see if we can clear this u

[2011-06-16 14:24] srushti commented on #79
Good catch. We'll work on this immediately. None of us have system rvm installed and so it didn't occur to us to make this configurable.

[2011-06-16 14:26] srushti commented on #78
I think goldberg can do this quite easily. All we'll need to do is to look for a .gitmodules file and accordingly run init and update.

[2011-06-16 19:05] lucasefe commented on #79
I have something working on my fork.

https://github.com/lucasefe/goldberg/blob/master/app/models/rvm.rb

Tell if this is good enough for you, so I will do a Pull Request.

Cheers

[2011-06-16 19:05] lucasefe commented on #80
Ok, good enough for me :)

[2011-06-16 19:05] #80 closed, assigned to nobody

[2011-06-16 19:08] lucasefe commented on #71
I have the same problem. Please, keep me posted!

Lucas

[2011-06-20 06:52] srushti commented on #79
Thanks, I've merged in the changes. I noticed one thing which I was curious about. The system script path didn't include the root directory ('usr/local/rvm/scripts/rvm'). Does that work fine for you? I've added a '/' to the beginning, and also expanded the tests to work with the system rvm as well.
Let me know if it works fine, and I'll close this ticket.

[2011-06-20 07:25] lucasefe commented on #79
Cool! Regarding the path, let me tell you that I did not have a chance to test it, because I was still having problems starting up Goldberg with passenger 3.0.7 (there's a ticket for this too). So your correction is right. The / slash was needed.

Thanks.

[2011-06-20 07:25] #79 closed, assigned to nobody

[2011-06-24 14:04] srushti commented on #78
@suryagaddipati submitted a trivial fix for this with #82.

[2011-06-24 14:04] #78 closed, assigned to nobody

[2011-06-27 15:40] kaiwren opened #83 "Set niceness of build process"
For builds that are very CPU intensive (like Rspec cukes on JRuby) we need a way to control the niceness of the build process so it doesn't result in the CI server becoming unresponsive

[2011-06-27 20:22] kaiwren opened #85 "Clicking 'Force Build' gives no feedback to the user"
Clicking force build currently has no immediate visible effect.

Only when the build actually starts _and_ the page self updates (which even with a single build can often take > 10s) does any visible change occur.

There should be an additional build state of 'queued' to handle this situation.

[2011-06-28 13:52] kaiwren opened #88 "Webapp should notify the user when the poller is down"
Ideally, like CC.rb, the 'force build' button should be replaced with a 'start poller' button.

[2011-06-28 17:50] kaiwren opened #89 "If RVM is present but the bundler gem isn't then attempt to install it"

[2011-06-28 22:19] kaiwren opened #92 "In the case of a red build, the dashboard should prominently display the handle of the person that caused the failure"
Please note that this is _not_ the same as the last person to commit.

This metadata should also ship in the xml status.

See https://twitter.com/#!/eladmeidar/status/85750551572258816 for source.

[2011-06-29 02:42] kaiwren opened #93 "Long builds are being killed"
See http://goldberg.c42.in/projects/rspec_core_jruby/builds/6

[2011-06-29 02:42] #83 closed, assigned to nobody

[2011-07-01 07:55] kaiwren opened #96 "config.timeout not working correctly"
http://goldberg.c42.in/projects/rspec_core_jruby has its timeout set to 3.hours but is definitely being killed a lot sooner

[2011-07-04 16:23] kaiwren opened #97 "Adding a project without a Rakefile causes the build to hang in state 'Building'"

[2011-07-05 13:05] kaiwren commented on #93
This was just the default 10 minute timeout.

[2011-07-05 13:05] #93 closed, assigned to nobody

[2011-07-06 19:08] levity opened #99 "Build gets marked as "cancelled" before it finishes?"
For some reason my builds are getting marked as cancelled, even before they finish, even while the build log continues to update. Is there a time limit or something built into Goldberg by default?

[2011-07-06 20:05] kaiwren commented on #99
Does your build take longer than 10 minutes?

The default timeout is 10 minutes, though we should probably call that out clearly on the readme. Take a look at the Project config section of the README to change the timeout.

If this doesn't fix your problem, then you're probably seeing the same thing as #96.

[2011-07-06 20:08] levity commented on #99
That would explain it. Yes, I'm running a large monolithic spec with lots of acceptance tests on a slow machine. Usually takes about 20 minutes. Thanks for delivering the RTFM gently. :)

[2011-07-06 20:08] #99 closed, assigned to nobody

[2011-07-06 20:28] kaiwren commented on #99
Not at all - I ran into the same issue when setting up a build a few days ago. I just updated the README to call this out.

[2011-07-06 21:27] kaiwren opened #100 "Allow a config option that allows other options besides the default bundle install"
Allow switching between `install` and `update` and allow params like `--binstubs`

[2011-07-06 21:57] kaiwren commented on #96
This is likely an issue with our server setup and not Goldberg itself. Will need @achamian's help to see what's going on.

[2011-07-07 08:41] srushti commented on #77
This has been fixed thanks to @suryagaddipati in #87.

[2011-07-07 08:41] #77 closed, assigned to nobody

[2011-07-07 09:05] srushti commented on #85
Added a little bit of text to the force build button if a build is currently queued 83f4cf7b51906a1603e2ca6f36750bdd99641b9b.

[2011-07-07 09:05] #85 closed, assigned to srushti

[2011-07-07 09:09] srushti commented on #88
I'm thinking we'll have the poller posting a timestamp to one row in the db or touching a file every 30 seconds or so, and the web app can see if that timestamp is greater than 35 seconds or something. What do you think?
Also, I'd like to have a separate issue to deal with starting the poller from the web app directly.

[2011-07-07 23:25] kaiwren opened #102 "Allow managing of the poller from the web app"

[2011-07-07 23:27] kaiwren commented on #88
Agreed on point one - I'd favour the touch/pidfile approach. Check if a process with that ID is actually running and if not delete the pid file and mark poller as down. We'll need CLI commands for all this (basically what we have as an alias on the server now).

Also agreed on point two - moved out into #102.

[2011-07-12 20:19] levity opened #105 "Allow canceling a build"
I would like a button in the UI that cancels a build in progress.

[2011-07-13 09:01] srushti commented on #105
I could swear there was a ticket for this. This was definitely on the schedule but it got missed somehow.

[2011-07-15 17:20] Unboxed-CI opened #108 "Emails on build failure and fixed not being sent"
Running the app under passenger and ruby 1.8.7, no emails are being sent. Just curious to know if this could be because of the ruby version. I've seen no errors in the build.log.

Debug seems to show the config on Project returns empty values when after_build_runner is called:
&lt;BuildPostProcessor:0x103276268 @configuration=&lt;Project::Configuration:0x1033985d8 @environment_variables={}, @comma

[2011-07-26 00:19] foca opened #110 "rake db:migrate during installation? :-/"
What's the rationale for not including the `db/schema.rb` file, which should be the authoritative source for generating a database at any given point in time? This makes `rake db:setup` not work, and makes me an sad panda.

[2011-07-26 06:48] srushti commented on #110
That's mainly due to @achamian's & @kaiwren's hesitation to check in any generated file. Having just talked it over now the only issue seems to be idiots making changes to schema.rb itself. I don't really want to make decisions defensively with that kind of situation in mind. I'll be checking it in now.

[2011-07-26 09:38] #110 closed, assigned to nobody

[2011-07-26 12:16] aakashd commented on #108
@Unboxed-CI, can you share the config file? Based on the data you have shared, it seems that the ProjectConfig does not have any callbacks registered.

[2011-07-31 19:12] jpawlyn commented on #108
Hi, thanks for the response. The config file is as follows:

[code]

Thanks,

Jolyon

[2011-08-05 12:54] tamaloa opened #113 "mercurial support"
Make it possible to use mercurial as source repository

[code]

[2011-08-16 02:41] jasim opened #114 "Add robots.txt"
Search engine spiders are consuming an enormous amount of bandwidth trying to spider every build status. Only the home page and builds list (if required) should be allowed for crawling.

[2011-08-17 10:28] srushti commented on #92
Fixed by #103.

[2011-08-17 10:28] #92 closed, assigned to nobody

[2011-08-24 13:55] kaiwren opened #115 "The test.log for any build should be treated as a build artifact"
The Rails test.log for a particular build is a useful build artifact that should be easy to examine in isolation.

[2011-08-24 18:28] srushti commented on #115
Sure. But, are you suggesting that we do special things for rails projects? Thus far we haven't done anything Rails-specific, and this would be a change from that.

[2011-08-24 19:37] kaiwren commented on #115
Not really - I'd just like to be able to specify that these files generated by the build are build artifacts. The rails log would be no different from an rcov coverage report or a .net setup.exe.

[2011-08-25 03:29] srushti commented on #115
Okay, but we can do that already. You just have to copy these files to ENV['BUILD_ARTEFACTS']. We're already doing this for simplecov report for goldberg.
https://github.com/c42/goldberg/blob/master/lib/tasks/ci.rake#L3
Am I missing something?

[2011-08-25 06:42] kaiwren commented on #115
The same test.log is being written to continuously. Perhaps a recipe in the docs for a rake task that truncates the log file in a rails project before the build and copies it over after? Also, we'd need to document ENV['BUILD_ARTEFACTS'].

[2011-08-31 21:00] professor opened #116 "Better error message for incorrect number of arguments"
The directions very clearly say that the way to add a new project is the following:
   RAILS_ENV=production bin/goldberg add <url> <name> [--branch <branch_name>] [--scm <git|svn>]

In my haste, I mistook <name> as on optional. Here is what goldberg says

RAILS_ENV=production bin/goldberg add git://github.com/professor/cmusv.git
There was problem adding the project.

In my opinion, I think there s

[2011-09-22 04:47] professor opened #117 "view error when there are no rows in the builds table."
If you install goldberg, add a project, and start up the rails server (without running the poller) you will see this error. Namely, there are rows in the projects table, not no rows in the builds table. (You might wonder why this would ever happen, but I'll do that as a separate issue.)

ActionView::Template::Error (undefined method `revision' for nil:NilClass):
    16:       %span.github-url

[2011-09-25 05:09] professor opened #118 "Email notifications can't be rendered"
I've setup very simple email notifications, but they aren't sent out due to the error listed at the end

Line 3 of app/views/build_status_mailer/status_mail.html.erb says...

Build Page URL : <%= project_build_url(@project.name,@build.number) %>

If that line is changed to

Build Page URL : <%= project_build_path(@project.name,@build.number) %>

then it functions. I suspect that the poller doesn't

[2011-09-27 02:51] professor opened #119 "What's the best way to stop the poller?"
On several occasions, if I stop the poller from the command line with control-c, it will leave the database in a state that will cause the rails server to be unable to render the page.

Here's one of them

ActionView::Template::Error (undefined method `gsub' for nil:NilClass):
    1: - projects.each do |project|
    2:   - status = project_status(project)
    3:   .project-row{:class => status}

[2011-09-28 03:47] srushti commented on #118
Did you create an email.rb file under config/initializers (there's a .sample file for reference)? You need to set the host (and port) there. Maybe we could check for that before sending out an email, and posting a message in the logs if we don't find it. This is assuming you'd configured it correctly, and there's no other bug in this.

[2011-09-28 04:30] professor commented on #118
I did not create an email.rb file under config/initializers..... I would update the directions to be more clear that this how goldberg expects emails to be configured. I did my email configuration on application.rb since I wanted it to work for both dev and production environments, ie config.action_mailer.smtp_settings. It didn't occur to me to do a "find in project" to see if there was a default

[2011-09-28 05:50] srushti commented on #118
Fair enough. I'll leave this open to until we fix the documentation so it's clearer where the configuration needs to be done.

[2011-11-10 11:05] srushti commented on #75
Fixed in 7ad90e35 since you can specify "use_bundle_exec" in your configuration.

[2011-11-10 11:05] #75 closed, assigned to srushti

[2011-11-10 17:17] localshred commented on #75
Thank you.

[2011-12-01 01:59] professor opened #123 "culprits code can cause home page not to render"
Error....

Rendered home/_projects.html.haml (264.0ms)
Rendered home/_group_projects.html.haml (265.4ms)
Completed 500 Internal Server Error in 397ms

ActionView::Template::Error (undefined method `revision' for nil:NilClass):
    16:       %span.github-url
    17:         = link_to "on Github", project.github_url
    18:     - if !project.culprits_for_failure.empty?
    19:       %span.culprit

[2011-12-14 08:28] srushti commented on #123
Yeah. I saw this happening when you add a new project and there are no builds on it. I thought I'd fixed it already a couple of months back. Clearly, I haven't.

I'll take a look at it.

[2012-01-17 12:17] #56 closed, assigned to nobody

[2012-01-30 21:12] daveworth commented on #74
I'm not sure this should be labeled as a feature.  I'm running into the same scenario.  I have two Goldberg hosts (migrating from one to another). The old one displays output, the latter does not, using the same goldberg_config.rb's in the various projects.  The emails and other hooks produce correct outputs.

[2012-02-27 02:32] tmornini opened #126 "config.after_build raises 'undefined method'"
When I put this in a per-project configuration file:

[code]

I get this from the poller:

[code]

Let me know if I can help out!

[2012-02-28 05:45] aakashd commented on #126
Hello Tom,

We had replaced the after_build callback with on_build_completion, but forgot to change the documentation. Apologies for the inconvenience and thanks for bringing it to our attention.

Thanks,
Aakash

[2012-03-01 06:56] srushti commented on #126
I'm closing this issue, and thanks again for reporting this.

[2012-03-01 06:56] #126 closed, assigned to nobody

[2012-03-06 00:46] skizz opened #127 "git submodule support is not recursive"
It is common for projects in the iOS world to have recursive submodules. For a prominent example of this see ShareKit.

So it is not enough to do  "git pull && git submodule init && git submodule update".

We should actually do something like:
- git submodule init && git submodule update
- for each submodule :
  - git submodule init && git submodule update

recursively.

[2012-03-06 10:59] srushti commented on #127
Any ideas on Git commands we could use to do this? Basically, what do you run on your dev machines to get all submodules up-to-date?

[2012-03-06 13:04] jasim opened #128 "Raise visible errors when Git pull fails"
Goldberg does not run any build if Git pull fails. There is no notification so it is hard to figure out what went wrong.

A typical case where this happens is:
schema.rb is checked in. A new commit is made which has a migration; but this commit does not check in the updated schema.rb. Goldberg will at this point run the migration which will create a locally modified version (in the CI server) of t

[2012-03-09 19:16] skizz commented on #127
Here's what I do:

[code]

There's no single command in git that will do this. You need to parse the git log and run it recursively in every directory.

[2012-03-09 19:22] skizz opened #129 "Perform a git-reset before doing a git pull"
In many cases builds modify checked in code (e.g. to configure version numbers) or add files that are not checked in. In this case git will refuse to pull the latest code.

Here's what happens for us (caused by version number updates):

[code]

To address this problem it is important that Goldberg does a `git reset --hard` before trying to do a git pull.

[2012-03-14 06:21] srushti commented on #127
@skizz Could you confirm the fix in 7b0bc34 works? It worked like this for me https://gist.github.com/2021967.

[2012-03-14 13:23] skizz commented on #127
I'll try and check today

Thanks

Chris Stevenson - http://955dreams.com
Twitter: @chris_stevenson

On Mar 13, 2012, at 23:21, Srushtireply@reply.github.com wrote:

[2012-03-21 02:18] ghost commented on #129
Looks like this issue is resolved with above commit. Can you close it? :)

[2012-03-21 04:05] #129 closed, assigned to nobody

[2012-03-22 14:54] pagerc opened #131 "Poller Error "cannot start a transaction within a transaction""
["/usr/local/rvm/gems/ruby-1.9.3-p125/gems/sqlite3-1.3.5/lib/sqlite3/database.rb:97:in `close'",
 "/usr/local/rvm/gems/ruby-1.9.3-p125/gems/sqlite3-1.3.5/lib/sqlite3/database.rb:97:in`ensure in prepare'",
 "/usr/local/rvm/gems/ruby-1.9.3-p125/gems/sqlite3-1.3.5/lib/sqlite3/database.rb:97:in `prepare'",
 "/usr/local/rvm/gems/ruby-1.9.3-p125/gems/sqlite3-1.3.5/lib/sqlite3/database.rb:134:in`execute'

[2012-03-28 11:21] srushti commented on #127
I'm going to assume it's working. Please reopen this issue if the problem still exists.

[2012-03-28 11:21] #127 closed, assigned to nobody

[2012-03-28 11:22] srushti commented on #131
This seems to only happen on 1.9.3. And certainly needs to get fixed.

[2012-03-28 13:08] #100 closed, assigned to nobody

[2012-06-19 12:51] pahnin commented on #114
Hi, I fixed this, I suppose.
Here's is my commit message https://github.com/pahnin/goldberg/commit/7bc8414cd201032c3ba283c7ea9d2e951797e98b
and link to repo https://github.com/pahnin/goldberg

Regards

[2012-06-19 17:40] #114 closed, assigned to srushti

[2012-06-19 17:53] srushti opened #135 "Fix home page refresh"
Currently, the web app refreshes the build statuses by reloading the entire page {c42/goldberg@913c4161424121b4b377e676ebdda216eb973020}. The original switch was meant to be a band-aid until we fixed the issue with the partial. I'd like to switch back and just load just the partial again.

[2012-06-19 18:26] pahnin commented on #135
homepage refresh seems to be working just by uncommenting lines 5-13 in https://github.com/c42/goldberg/blob/master/app/views/home/index.html.haml and commenting lines 9-17 in https://github.com/c42/goldberg/blob/master/app/views/layouts/application.html.haml is there any other problem?

[2012-06-19 18:31] pahnin commented on #135
I think lines 9-17  in https://github.com/c42/goldberg/blob/master/app/views/layouts/application.html.haml makes the builds view to reload every 5 seconds too we need that too?

[2012-06-20 07:45] srushti commented on #135
No, we don't need it. The page reload was added as a stopgap.

[2012-06-20 22:31] skizz opened #136 "RVM fails to work properly if the .rvmrc is checked in"
According to RVM's documentation it is a best practice to check in your .rvmrc file.

(See number 2: https://rvm.io/rvm/best-practices/)

If you do this, then Goldberg tries to use its own rvm settings (goldberg-projectname) which is incorrect. Bundler is not installed and the build fails with the error "Bundler gem is not installed"

If the project is new, you need to login to the server and cd i

[2012-06-21 09:51] pahnin commented on #135
I've fixed it and added a little notifier message, i mean a small message will appear while processing the get request, i cudnt decide where to put this? below the projects list? or above it? once it is done I'll push and will make pull request. any suggestion where to put it?

[2012-06-21 11:12] srushti commented on #135
I'm not sure we need a loading indicator. Instead I'd rather have a notification if the retrieval failed to let the user know the information they have is stale.

[2012-06-21 11:33] pahnin commented on #135
ok working on that

[2012-06-22 02:04] pahnin commented on #131
How to check this? I mean my system has ruby 1.9.3 installed but I think it uses 1.9.1 while running goldberg!
Give me some instructions and I can run goldberg on Virtualmachine

[2012-06-24 05:57] srushti commented on #131
You don't need a Virtualmachine. Basically, you need to make sure you're starting goldberg in 1.9.3. Just make sure that running 'ruby -v' on your prompt (just before you start goldberg) gives you something like 'ruby 1.9.3p194 (2012-04-20 revision 35410) [x86_64-darwin11.4.0]'. After that if you force a build you get this error.

[2012-06-24 06:01] srushti commented on #136
True. This is related to #89 because, ideally, Goldberg should be installing Bundler in the new gemset it's creating (which seems to be broken now).

Even if Goldberg honoured the checked in .rvmrc (which would mean you don't have to duplicate the ruby version in the goldberg_config.rb file) the lack of a Bundler install still means it's broken. We'll look into it now.

[2012-06-24 13:30] pahnin commented on #131
My ruby -v
returns this ruby 1.9.3p194 (2012-04-20 revision 35410) [x86_64-linux]
its also shown while rails server starts

=> Booting WEBrick
=> Rails 3.2.6 application starting in development on http://0.0.0.0:3000
=> Call with -d to detach
=> Ctrl-C to shutdown server
[2012-06-24 18:59:20] INFO  WEBrick 1.3.1
[2012-06-24 18:59:20] INFO  ruby 1.9.3 (2012-04-20) [x86_64-linux]
[2012-06-24 18:59:2

[2012-06-25 18:43] pahnin commented on #131
I confirm that my poller is running and I get no error while force build except error from build itself, because it coudnt install lib-xml and its not related to poller

[2012-06-26 11:17] srushti commented on #131
@pahnin Sure, that means you can't reproduce this issue. Leave this alone, and I'll try and get to it soon.

[2012-07-18 08:32] srushti commented on #96
Did you ever figure this out? Is it in fact a goldberg issue?

[2012-07-18 13:51] srushti commented on #131
I can't reproduce this issue either, and I was able to in the past. It looks like this has somehow quietly fixed itself. I'm closing this. @pagerc please let me know if this is still occurring for you.

[2012-07-18 13:51] #131 closed, assigned to nobody

[2012-07-18 13:52] #135 closed, assigned to nobody

[2012-07-18 18:07] srushti commented on #48
The problem with this is that the configure file is run in the context of the goldberg server rather than that of the specific project.

[2012-07-24 11:56] srushti commented on #136
@skizz Like I said earlier, Goldberg is currently designed not to look at the project's own .rvmrc at all (irrespective of best practices). Instead it looks at goldberg_config to figure out what ruby you want to use. Having used that ruby (or the default ruby if nothing is specified) and the gemset "goldberg-projectname" it is meant to install bundler (if it doesn't already exist) and then start t

[2012-07-25 20:25] srushti commented on #128
The git pull issue specifically has been fixed since we do a hard reset before pulling now. But, this probably should still be done to account for scenarios where the version control server is not reachable (or other similar error).

[2012-07-30 08:45] srushti commented on #71
We never updated this ticket. But, we've switched to suggesting you use the "rails s" command when we wish to start the server. 5650ad4b3fe2e68276ef1bcb1a0be23b862fe0ef

[2012-07-30 08:45] #71 closed, assigned to nobody

[2012-07-30 10:47] srushti commented on #96
I'm closing this since it looks like timeout is working fine now. Let me know if you face issues again.

[2012-07-30 10:47] #96 closed, assigned to nobody

[2012-07-30 10:52] srushti commented on #89
This seem to be working fine now. Let me know if you face any other issues.

[2012-07-30 10:52] #89 closed, assigned to srushti

[2012-07-30 11:44] srushti opened #140 "Use .rvmrc ruby if it exists"
Currently, goldberg entirely ignores the .rvmrc. It looks for the Ruby to use entirely in the goldberg_config.rb file. If it doesn't exist, it switches to the default Ruby that goldberg itself is running on.

goldberg_config.rb should still override the .rvmrc Ruby if both are configured.

[2012-07-30 12:00] srushti commented on #136
I'm not able to reproduce the issue with the Bundler gem (it did exist before, but looks like it's been fixed now). I've created #140 to cover the scenario of .rvmrc being ignored. As of now, you have to specify your Ruby in two places, but you shouldn't have to do your logging in to the server work.

As always, please let me know if this issue is still reproducible for you.

[2012-07-30 12:00] #136 closed, assigned to nobody

[2012-07-30 15:02] srushti commented on #116
We now prompt the user for the missing arguments. 1eed860f2f017b93504e0849f5ddfe0d4517d9d7

[2012-07-30 15:02] #116 closed, assigned to nobody

[2012-07-30 15:10] srushti commented on #105
Forgot to update & close this issue, but this was done a few months back. 0a0e64d88e8961ca4a47c643208e727e6c72af0c

[2012-07-30 15:10] #105 closed, assigned to srushti

[2012-07-31 05:46] srushti commented on #74
@daveworth Oops! That certainly wasn't a feature. That was a mistake in tagging, and subsequently made me not look at it.

@localshred This should long since have been fixed though. I'm going to close it. Please, let me know if you're facing issues (this or other).

[2012-07-31 05:46] #74 closed, assigned to srushti

[2012-07-31 09:24] srushti commented on #117
This has been fixed now. Closing it accordingly. Let me know if it's still reproducible.

[2012-07-31 09:24] #117 closed, assigned to nobody

[2012-07-31 12:30] srushti commented on #123
I took a look at it later, but forgot to update it. This doesn't seem to be happening any more. Please let me know if this is still occurring for you. It's not for me.

[2012-07-31 12:30] #123 closed, assigned to nobody

[2012-07-31 12:32] srushti commented on #102
Currently, the poller & the web app are entirely too disconnected. We should bring them a little closer. The web app should know that the poller is running, should be able to start it up if it's down, and cleanly kill it if it is running. Consequently, I'm merging this with #119.

[2012-07-31 12:35] srushti commented on #119
Merging this with #102. We need to allow for the clean stopping (& starting) of the poller from the web app, which will be taken care of by #102. That should automatically sort this issue out. Closing this now.

[2012-07-31 12:35] #119 closed, assigned to nobody

[2012-08-01 04:49] ghost opened #141 "suggestion: culprit checking code shouldn't be in view"
The culprit checking code in app/views/home/_projects.html.haml shouldn't be in the view, I guess, as every time I refresh the browser and the ruby code gets reexecuted, it triggers the SCM to 'stat' and find the user who might have broken the latest build.

I refer to, specifically:

[code]

I have 25 projects up, and the SCM is on another continent, it takes about 2 minutes to display it. Taking

[2012-08-01 04:53] jasim commented on #141
+1

Alternatives:
1) Cache the culprit for a project till a new build is received.
2) Config to disable the culprit altogether
3) Both 2 and 3.

[2012-08-01 04:54] ghost opened #142 "allow periods (.) in project names"
It's not possible to use freely-defined project-names as they have to match the folder name of the build, at the moment (meaning only characters the file system allows can be used). Although it would be nice to be able to do so, my bigger concern was to use periods in project names, which should be possible with filename-compliant names... To be able to do so, I had to change the routing as follow

[2012-08-01 05:03] ghost opened #143 "Portability issues / suggestions"
I'm running Goldberg on FreeBSD, which works nicely, however, a few things that I stumbled upon:

I had to add the following to the Gemfile

[code]

Bash comes usually only by default in Linux distros - although available for pretty much all decent operating systems, Goldberg makes very few uses of the shell, so sticking to plain old 'sh' syntax (symlinked to bash, anyways, on most Linuxes) is mor

[2012-08-01 05:08] ghost opened #144 "time of _projects.html.haml and builds.html.haml not necessarily in sync"
On my setup, the time displayed on the main page ("XX minutes ago", etc.) was correct, but the display on the build page of a certain project was 5h off. I checked the code, my machine's clocks, the timezones, etc... and couldn't find it. However, I noticed, that two different pieces of code are used to basically compute the same. So I did the following change to use the same code and get the cloc

[2012-08-01 05:12] ghost opened #145 "svn cleanups"
I'm not 100% sure about the following, but I had two problems with SVN and goldberg, the first being not completely reverting a checkout, the second being nasty log messages when forcing multiple builds without having any new revision coming in. The latter tries to run something like the following for 4 times building some code at revision 42:
    svn log -r42:42:42:42 ...

Fix:

[code]

[2012-08-01 05:14] ghost opened #146 "suggestion: making running more complex build commands easier"
Again, I'm not 100% sure about the following, if it should be adopted or not, but it made specifying more complex build commands easier, for me:

[code]

[2012-08-01 05:17] srushti commented on #141
We can obviously just cache it for a particular build since that never changes. Also, this has never been an issue for us because all of our projects are on git and everything is local.

[2012-08-01 05:24] ghost commented on #141
Sweet, thanks for the quick reply - no worries, I didn't think it was a problem for locally hosted code - it's just a suggestion, b/c remotely, it unfortunately makes the site hang for as long as it takes.

[2012-08-01 06:13] srushti commented on #141
A crazy thought is to have Goldberg use git-svn for svn projects. That way all the history will be local. But, the caching thing will probably be easier.

[2012-08-01 06:28] srushti commented on #143
Hmm. Sounds good on the bash/sh thing. Let me ask our shell scripting expert @gja to pick up that aspect of it. @gja Could you look into this please?

Also, on the bigdecimal thing. Could you tell me what error you get that made you add that gem?

[2012-08-01 06:33] srushti commented on #146
Sorry, what's the difference here? The quotes around the build command?

[2012-08-01 06:36] srushti commented on #142
The problem is the substitution strategy. If we replace unusable characters with an underscore or something, then you can't later add another project which really has underscores there. So, for now I'm leaning towards leaving this alone. Let me think about it for a bit.

[2012-08-01 14:24] ghost commented on #142
Well, I understand, however, the patch is not about allowing any kind of project name, it's simple deactivating rails' behaviour to 'format'. If right now you'd add a project with a period in it, rails will simply display an error page, as it tries to match the 'suffix' to a format.

In my example, I have projects running builds on different emulators to test for portability, so a project has a na

[2012-08-01 14:31] ghost commented on #146
yes

[2012-08-01 14:33] ghost commented on #143
Mh, I don't remember about the bigdecimal - I think bundler literally told me that bigdecimal is not in the bundle. Should I recheck?

[2012-08-01 14:36] ghost commented on #141
Yes... and people without git wouldn't have to install/have git as a dependency.

[2012-08-01 14:41] srushti commented on #143
Hmm, that's weird. @pahnin had said something similar but nothing fails for me (either locally or on our hosted server). I'll just do some research on this. I wonder if it has something to do with the ruby version being used. What ruby are you running this on?

[2012-08-01 14:43] srushti commented on #141
I never even considered people without git using Goldberg (even if their projects are on something else), since the instructions have a 'git clone' and updating Goldberg is done through a 'git pull'.

[2012-08-01 14:53] srushti commented on #142
Ah, ok. I understand now.

That, of course, causes another problem. If you have project called 'foo' your browser url would become '/projects/foo', and we also have '/projects/foo.png' which returns an image with the current status of the build to use in documentation pages. If we ignore dots in those urls that might stop the dot in '.png' also from working.

Let me think about this a bit more (un

[2012-08-01 15:00] srushti commented on #145
Fixed with 47e464f492426221fa19735c6f8f16339b600a47 & 23ea9a58c85dbd0cc080dd94077486df4ffa6803. Thanks.

[2012-08-01 15:00] #145 closed, assigned to nobody

[2012-08-01 15:36] ghost commented on #143
ruby 1.9.3p194
gem 1.8.24

[2012-08-01 15:37] ghost commented on #142
Interesting, I didn't even know that...
Well, the :constraints => {:project_name => /[^\/]+/} could be changed to match everything except for .png suffixes, etc..

[2012-08-01 15:39] ghost commented on #145
thanks!

[2012-08-07 05:48] hydra1983 opened #147 "not easy to run!"
E:\opensource\goldberg\goldberg>ruby -v
ruby 1.9.2p290 (2011-07-09) [i386-mingw32]

E:\opensource\goldberg\goldberg>gem list

**\* LOCAL GEMS ***

actionmailer (3.2.6)
actionpack (3.2.6)
activemodel (3.2.6)
activerecord (3.2.6)
activeresource (3.2.6)
activesupport (3.2.6)
arel (3.0.2)
builder (3.0.0)
bundler (1.1.5)
childprocess (0.3.5)
commander (4.1.2)
diff-lcs (1.1.3)
erubis (2.7.0)
factory_gir

[2012-08-10 05:11] srushti commented on #147
I'll be honest with you. We don't do a great deal of testing on Windows (we mostly work on Macs or Linux boxes). That being said, I suspect the following line is failing for you:

[code]

Could you try changing that to

[code]

and see if that fixes it for you.

If it does, it might mean that the platform on Windows is something else.

[2012-08-11 13:29] srushti commented on #146
I don't want to add any quotes here which might interfere with quotes people might add within the build_command itself. I think I'd rather leave it to people on whether they wish to use quotes or not. Thanks anyway.

[2012-08-11 13:29] #146 closed, assigned to nobody

[2012-08-11 14:40] srushti commented on #142
Fixed. Look at the commit above if you're curious. Basically, I figured out what approach travis-ci took to solve the problem.

[2012-08-11 14:40] #142 closed, assigned to nobody

[2012-08-11 14:48] srushti commented on #97
The build correctly fails now.

[2012-08-11 14:48] #97 closed, assigned to nobody

[2012-08-11 14:56] srushti commented on #147
I've made sure to have the sqlite3 gem installed on Windows as well (1196a1d4ede4b054e7b9d01004a88a5deff11cab). So, this issue itself should be fixed. If it isn't let me know and I'll re-open the issue.

Thanks for pointing this out.

[2012-08-11 14:56] #147 closed, assigned to nobody

[2012-08-11 19:57] srushti commented on #28
Done.

[2012-08-11 19:57] #28 closed, assigned to nobody

[2012-08-13 02:47] ghost commented on #142
Thanks, that's definitely cleaner than my version!

[2012-08-13 02:48] ghost commented on #146
yes, you are right, I didn't think of that...

[2012-08-13 03:40] hydra1983 commented on #147
with:

[code]

**no sqlite3 gem installed**

with:

[code]

**still no sqlite3 gem installed**

with:

[code]

**have sqlite3 installed but**

[code]

**and**

[code]

[code]

[2012-08-13 03:55] hydra1983 commented on #147
with:

and:

[code]

[2012-08-13 04:07] hydra1983 commented on #147
should goldberg support ruby 1.8.6 or 1.8.7 as it's described in `Prerequisites`?
After I switch to ruby 1.8.7,it reports:

should I manually install an old version of `factory_girl`?

[2012-08-13 05:24] srushti commented on #147
Sorry, that was a mistake. I should have removed 1.8.7 from the list a while back. We don't support that any more.

I should also warn you that you're likely to face issues with using Goldberg on Windows, since like I said earlier we don't really test on Windows. At the very least, I hope you're using a Unix emulator of some sort (like cygwin).

[2012-08-13 05:51] srushti commented on #144
Changed it the other way around. The timeago plugin should pick up the time from your browser, and should be more accurate.

[2012-08-13 05:51] #144 closed, assigned to nobody

[2012-08-13 05:55] srushti commented on #37
Like I'd mentioned earlier the timeago plugin solves most of the problem. Other than that, we still have the UTC timestamp as a title (tooltip) for all the builds (where timeago might not be super-useful) but where the timezone itself doesn't matter a great deal.

I'm closing this assuming local timestamps (local to the browser) aren't necessary. Let me know if that's not the case.

[2012-08-13 05:55] #37 closed, assigned to nobody

[2012-08-13 06:15] srushti opened #148 "Measure & Report on build times"

[2012-08-13 07:19] hydra1983 commented on #147
OK. got it, I will try to run it under cygwin.
Thanks.

On 13 August 2012 13:24, Srushti Ambekallu notifications@github.com wrote:

[2012-08-13 13:28] ghost commented on #144
Mh, this way round, the times are 5h off on my machine, and my local time is set correctly, etc.. Any idea?

[2012-08-14 00:55] ghost commented on #144
nevermind, I guess my local version is missing a few other things as well... I will figure it out

[2012-08-14 05:10] srushti commented on #144
Yeah, I'm not sure why this is not working for you. My server's running on UTC and that's how the time is being reported, and the relative timestamps work correctly on my timezone (IST) when I view it on my browser.

[2012-08-21 13:02] gja commented on #143
@cslag, About the bash thing:

While the script itself is not using any BASHisms, rvm is documented not to work with bourne shell or dash (yuck)

Good news. rvm-auto-ruby seems like the new way to run code in a particular ruby, and works pretty much like rbenv shims. Unfortunately, I don't have an rvm machine to test it on.

If we can use rvm-auto-ruby instead of rvm use, then we can get rid of th

[2012-08-21 13:36] ghost commented on #143
Hm, didn't think about that. But do I really need rvm to run goldberg? Personally, I don't, in my installation, so I guess it's not a requirement.

[2012-08-24 12:10] kaiwren opened #149 "Show commit message on the build page"
When I look at a specific build, I'd like the commit message in addition to the commit SHA.

[2012-08-24 12:37] srushti commented on #149
Actually, I've been thinking I should list all commit messages (not just the last one).

[2012-11-27 07:43] sivagollapalli opened #151 "Doesn't send any mail notification upon build completion"
I just configured your CI server. Everything works fine and it builds properly. But it doesn't sends any notification upon build completion. I configured action mailer that you have provided on initializers.

My goldberg_config.rb looks like this:

[code]

Could you please let me know where I went wrong. Thanks!!

[2012-11-29 11:13] srushti commented on #151
Have you configured the smtp settings?

If not, take a look at the sample file at (https://github.com/c42/goldberg/blob/master/config/initializers/email.rb.sample) & make a copy of that with a '.rb' extension and your specific values filled in.

Let me know if you have already done that and we can dig in deeper to see what else might have gone wrong.

[2012-11-29 12:25] sivagollapalli commented on #151
I have configured smtp settings with the sample file that you have given on initializers.

I hope there is a bug on mail sending.  I just made debugging statements on callbacks in goldberg_config.rb. Before this line it prints whatever the debugging statements we write.

[code]

I am confused that neither above line executes nor it generates error. So please help me!!!

[2012-12-05 06:37] srushti commented on #151
@aakashd worked on this stuff. I'm asking him to take a look at this.

[2012-12-11 16:25] sivagollapalli opened #152 "Show status as success even build has been failed"
I have added rspec request specs with selenium integrated with it. Due to, it didn't attain stable connection with firefox  all specs has been failed. But it shows status as green which means build has been successfully. I don't know why? Could you please look into this?

[2012-12-11 18:16] srushti commented on #152
It will depend entirely on the exit status of the build process. I'm guessing your build script (rake or whatever else you're using) isn't reporting the error properly.

Let me know if the exit code is returning properly and yet the build shows green.

[2012-12-13 15:19] sivagollapalli opened #153 "Updated configuration page with jruby configuration"
I have gone through configuration page how to configure multiple ruby versions for various projects. But  I couldn't find any config regarding applications which uses jruby?

Could you please let me know where I can find the configuration?

[2012-12-13 16:39] srushti commented on #153
Like setting any other Ruby just put this line in your goldberg_config.rb

[code]

Or replace the jruby in the above line with whatever you would use in your 'rvm use' in your build server. e.g. 'jruby-1.6.0'.

[2012-12-13 16:42] srushti commented on #153
I'm closing this now. Reopen it if there's any problem.

[2012-12-13 16:42] #153 closed, assigned to nobody

[2012-12-13 16:55] sivagollapalli commented on #153
Could you please update this on configuration documentation. So others will get to know this.

[2012-12-14 04:35] srushti commented on #153
It is mentioned there. You can basically fill in any Ruby your RVM knows about.

[2012-12-14 14:00] sivagollapalli commented on #151
@aakashd One more observation which might help for you to debug.

I just replaced below line with

[code]

with

[code]

which sends mail but there is no content on received mail. I also observed that there is no method with name as 'status_mail!' on entire project. I didn't understand how it works.

[2012-12-22 15:40] sivagollapalli commented on #151
@aakashd Finally it's working. I just deleted entire installation and configure the mail before I start nginx server.

Previously I configured after server started. After configured I restarted the server but somehow it doesn't pick up the mail settings.

[2012-12-23 15:06] srushti commented on #151
Oh cool. Thanks for letting us know. And sorry, we weren't able to help you out. We've been a bit busy just now.

[2012-12-23 15:06] #151 closed, assigned to nobody

[2013-01-09 12:54] sivagollapalli opened #154 "Run ajax functionality specs using goldberg"
I am testing ajax functionality using rspec by provided ':js => true' option to describe block. It opens firefox browser and run the specifications. On local it's working fine but on goldberg server it fails as couldn't open the browser and run the specifications.

How to make these specifications to pass?

[2013-01-10 12:56] srushti commented on #154
It's hard to figure out why that might be, but off the top of my head I'd guess firefox hasn't been setup to open in headless mode.

[2013-02-13 06:53] sivagollapalli commented on #154
It works for me. Thanks!!

[2013-02-13 06:53] #154 closed, assigned to nobody

[2013-03-11 08:40] srushti commented on #152
I'm closing this issue for now.

Please let me know if you were able to resolve this issue.

[2013-03-11 08:40] #152 closed, assigned to nobody

[2013-03-13 09:28] srushti commented on #148
Fixed with 9d4e45e8a02be10058809c5abf9238c39032d0f8.

[2013-03-13 09:28] #148 closed, assigned to srushti

[2013-03-14 14:48] sivagollapalli opened #155 "Capybara specs are failing some time on goldberg"
I am using headless gem to run my request specifications on goldberg. When I run specs on my local system all are passes. When it runs by the goldberg some request specs are failing. I didn't understand why it happens? Is this problem with goldberg or headless gem. Could you please help me?

[2013-03-14 18:18] srushti commented on #155
This is not likely to have anything to do with Goldberg. If it's failing on your CI server, it will probably fail if you run the same command (as the one you have Goldberg running) all by itself. Try running it on the CI server itself but from the shell rather than through Goldberg and see what happens. Goldberg doesn't do anything more special than run the build command in a shell, so it won't be

[2013-03-14 18:18] #155 closed, assigned to nobody

[2013-03-19 11:29] sivagollapalli opened #156 "Not able to run specs through goldberg"
I am using goldberg to test all my projects. Since I am using more than six months I ran out of space on ci server. So I removed builds information for db and as well on server home directory manually. For then I am not able to build any project. So here are my questions:

1) How can I rid out from this problem?
2) How to Maintain only last 5 builds information?

Please help me. Thanks in advance

[2013-10-29 04:56] praveenram commented on #66
I was looking to implement pipeline stages in the CI and found its still work in progress. Is there any ETA or details on how much work is complete?

There is an alternate way to have basic pipeline stages however at this point in time using the project success handler.

[2013-10-29 15:52] srushti commented on #66
No, there hasn't been anything implemented on this. These were part of larger plans for Goldberg which would support pipelines and the like. I'm not sure when I'll actually be getting to them.

[2013-10-30 08:58] praveenram commented on #66
Thanks, will look at it.

[2019-03-14 17:40] #128 closed, assigned to nobody